@font-face {
  font-family: 'Star Jedi';
  src: url('/public/fonts/STJEDISE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto, Arial, sans-serif';
}